<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NZK Website</title>
    <meta name="description" content="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <link href="prodile.css" rel="stylesheet">
    <main>
        <!-- Navigation Bar -->
        <header>
          >
        </header>
        <!-- Contents -->
        <section class="info">
                <h1 class="content_font1">Phipatpol meunkaew</h1>
                <h4 class="content_font2">1640901896 </h4>
                <div class="icons">
                    <div class="icon" >
                        <img src="/email 1.svg" alt="email">
                        <p class="icon_info">qweasd503@gmail.com</p>
                    </div>
                    <div class="icon">
                        <img src="/facebook 1.svg" alt="facebook">
                        <p class="icon_info">Phipatpol meunkaew</p>
                    </div>
                    <div class="icon">
                        <img src="/youtube 1.svg" alt="youtube">
                        <p class="icon_info">Phipatpol meunkaew</p>
                    </div>    
                    <div class="icon">
                        <img src="/twitter 1.svg" alt="twitter">
                        <p class="icon_info">Phipatpol meunkaew </p>
                    </div>               
                </div>
                <div class="EZ" >  
                <p> อ้างอิง: <a href="https://www.glurgeek.com/education/backendexpressmysqlep2/">https://github.com/ajnesttheseries/nodejssqlejs/blob/main/views/deleteitem.ejs</a></p>  
            </div>
        </section>
     
       
    </main>
</body>
</html>